body.light-theme, :root {
  /* light theme color */
  --background: #d9dbfe;
  --background-secondary: #eaeaea;
  --header: #7bfd7f;
  --color: #000000;
  --color-secondary: #999;
  --border-color: #dcdcdc;

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

body.dark-theme {
  /* dark theme colors */
  --background: #2d2f37;
  --background-secondary: #3b3d42;
  --header: #175217;
  --color: #f6f6ff;
  --color-secondary: #cdced9;
  --border-color: #4a4b50;
}

@media (prefers-color-scheme: light) {
  body:not(.dark-theme) {
    /* light theme color */
    --background: #d9dbfe;
    --background-secondary: #eaeaea;
    --header: #538a55;
    --color: #000000;
    --color-secondary: #999;
    --border-color: #dcdcdc;
  }
}

@media (prefers-color-scheme: dark) {
  body:not(.light-theme) {
    /* dark theme colors */
    --background: #2d2f37;
    --background-secondary: #3b3d42;
    --header: #175217;
    --color: #f6f6ff;
    --color-secondary: #cdced9;
    --border-color: #4a4b50;
  }
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);

@define-mixin greater-icon $stroke-width: 3px, $width: .95rem, $height: 100% {
  .greater-icon {
    width: $width;
    height: $height;

    path {
      stroke: currentColor;
      stroke-width: $stroke-width;
    }
  }
}

/* HOW TO USE */

/*@media (--phone) {*/
  /*margin-top: 0;*/
/*}*/

pre {
  border-color: #ffffff;
}

/* pre {
  font-feature-settings: normal;
  background: #363636;
  color: darkblue;
  padding: 20px;
  border-radius: 8px;
  font-size: .9rem;
  overflow: auto;

  @media (--phone) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    font-feature-settings: normal;
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
} */

.logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  text-decoration: none;
  font-weight: bold;

  img {
    height: 44px;
  }

  &__mark {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;

    @mixin greater-icon 8px;
  }

  &__text {
    font-size: 1.125rem;
  }

  &__cursor {
    display: inline-block;
    width: 0px;
    height: 1rem;
    background: #1cee05;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 5s infinite;
  }
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}
